{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">

        <div class="col-xs-12">
            <div class="pull-right">
                <a href="{{ path('admin_genus_new') }}" class="btn btn-primary">Add new</a>
            </div>
        </div>

        <h1>Genuses</h1>

        <table class="table table-striped">
            <tr>
                <th>Genus</th>
                <th>SubFamily</th>
                <th>&nbsp;</th>
            </tr>
            {% for genus in genuses %}
                <tr>
                    <td>{{ genus.name }}</td>
                    <td>{{ genus.name }}</td>
                    <td>
                        <a href="{{ path('admin_genus_edit', {'id': genus.id}) }}" class="btn btn-xs btn-success"><span class="fa fa-pencil"></span></a>
                    </td>
                </tr>
            {% endfor %}
        </table>

    </div>
</div>
{% endblock %}